<div class="container">
    <div class="text-right">
        <i class="bi bi-x-circle" (click)="activeModal.dismiss()" style="font-size: 2rem; color:black"></i>
    </div>

    <form #userForm="ngForm" (ngSubmit)="onResetPassword()">
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="email" #emailCtrl="ngModel" required>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
        </div>
    </form>
</div>